<div class="grid">
  <div class="col-8">
    <p-fieldset legend="Perguntas">
      <div class="grid">
        <div class="col-12">
          <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
            <div class="box question-list" *ngFor="let question of questions" cdkDrag>
              <div class="grid loop" *ngIf="question.init">
                <div class="col-4 code">
                  {{question.title}}
                </div>&nbsp;
                <i class="pi pi-arrow-circle-up"></i>
              </div>
              <div class="grid" *ngIf="!question.init">
                <div class="col-2">
                  <div class="grid loop" *ngIf="question.loop">
                    <div class="col-9 code">
                      Loop Q{{question.code}}
                    </div>&nbsp;
                    <i class="pi pi-arrow-circle-up"></i>
                    <div class="col-9 code">
                      {{question.id}}
                    </div>
                  </div>
                  <div *ngIf="!question.loop">
                    <div class="col-12 code">
                      {{question.type == 'number' ? 'Numerica' : question.id}}
                    </div>
                  </div>
                </div>
                <div class="col-5 title">
                  <div *ngIf="question.type == 'rank'" class="grid">
                    <div class="col-12">
                      Q{{question.code}} {{question.title}}
                    </div>
                    <div class="col-12 code">
                      <div class="field-checkbox" *ngFor="let option of question.options">
                        <p-checkbox name="group{{option.id}}" [value]="option.label" [inputId]="option.id"></p-checkbox>
                        <label [for]="option.id">{{option.id}} {{option.label}}</label>&nbsp;
                        &nbsp;
                        <a href="javascript:;" (click)="removeOptionRank(question.options, option)">
                          <i class="pi pi-trash"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-4">
                      <button pButton pRipple class="button-add" type="button" label="Add"></button>
                    </div>
                    <div class="col-4">
                      <button pButton pRipple class="button-add" type="button" label="Salvar"></button>
                    </div>
                    <div class="col-4">
                      <button pButton pRipple class="button-add" type="button" label="Cancelar"></button>
                    </div>
                  </div>
                  <div *ngIf="question.type != 'rank'">Q{{question.code}} {{question.title}}</div>
                </div>
                <div class="col-2">
                  <a href="javascript:;">
                    <i class="pi pi-play"></i>
                  </a>
                  &nbsp;
                  &nbsp;
                  <a href="javascript:;">
                    <i class="pi pi-stop"></i>
                  </a>
                </div>
                <div class="col-3 last-icons">
                  <i class="pi pi-sort-alt"></i>
                  &nbsp;
                  &nbsp;
                  <a href="javascript:;" (click)="remove(question)">
                    <i class="pi pi-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="col-4">
    <p-fieldset legend="Regras">
      <div class="grid form">
        <div class="col-12 fluid">
          <h3>Alterar tipo de pergunta</h3>
          <p-dropdown [options]="questionsType" placeholder="Selecione..."></p-dropdown>
        </div>
        <div class="col-12">
          <h3>Alterar estrutura da pergunta</h3>
          <p-dropdown [options]="structures" placeholder="Selecione..."></p-dropdown>
        </div>
        <div class="col-9">
          <h3>Regra de aplicação</h3>
          <input type="text" pInputText>
        </div>
        <div class="col-3">
          <h3>&nbsp;</h3>
          <button pButton pRipple class="button-add" type="button" label="Add"></button>
        </div>
        <div class="col-9">
          <h3>Regra de filtro</h3>
          <input type="text" pInputText>
        </div>
        <div class="col-3">
          <h3>&nbsp;</h3>
          <button pButton pRipple class="button-add" type="button" label="Add"></button>
        </div>
        <div class="col-12">
          <h3>Range</h3>
          <input type="text" pInputText pKeyFilter="int" class="mid-size">
          à
          <input type="text" pInputText pKeyFilter="int" class="mid-size">
        </div>
        <div class="col-12">
          <h3>Limite de caracteres</h3>
          <input type="text" pInputText pKeyFilter="int" class="mid-size">
          -
          <input type="text" pInputText pKeyFilter="int" class="mid-size">
        </div>
        <div class="col-12">
          <h3>Números validos</h3>
          <input type="text" pInputText pKeyFilter="int">
        </div>
        <div class="col-12">
          <h3>Rodiziar</h3>
          <div class="field-checkbox">
            <p-checkbox name="group1" value="Linha" inputId="ln"></p-checkbox>
            <label for="ln">Linha</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="group1" value="Coluna" inputId="cl"></p-checkbox>
            <label for="cl">Coluna</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="group1" value="SubColuna" inputId="sc"></p-checkbox>
            <label for="sc">SubColuna</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="group1" value="Pergunta capitulo" inputId="pc"></p-checkbox>
            <label for="pc">Pergunta capitulo</label>
          </div>
        </div>

        <div class="col-12">
          <h3 class="title-color">Loop</h3>
          <h3>Break</h3>
          <input type="text" pInputText>
        </div>
        <div class="col-12">
          <h3>Valores Definidos</h3>
          <input type="text" pInputText>
        </div>
        <div class="col-12 fluid">
          <h3>Interação com perguntas</h3>
          <p-dropdown [options]="interactionQuestions" placeholder="Selecione..."></p-dropdown>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>